@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #a3d3ff;
    background: linear-gradient(to right, #a3d3ff, #ffffff);
}

.editor-container {
    display: flex;
    align-items: stretch;
}

.preview-visible .editor-container {
    flex-direction: row;
}

.preview-visible .CodeMirror {
    flex: 1;
}

.preview-visible .preview {
    width: 50%;
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

.markdown > * {
    all: revert;
}

.dark-mode {
    background: linear-gradient(to right, #0c0c17, #171732);
    color: white;
}
