@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #a3d3ff;
    background: linear-gradient(to right, #a3d3ff, #ffffff);
}

.markdown > * {
    all: revert;
}

.dark-mode {
    background: linear-gradient(to right, #0c0c17, #171732);
    color: white;
}

.editor-container {
    display: flex;
    flex-direction: column;
}

.editor-wrapper {
    display: flex;
    flex: 1;
}

.editor-column {
    flex: 1;
    overflow-y: auto;
}

.preview-column {
    flex: 1;
    overflow-y: auto;
    display: none;
}

.preview-visible .preview-column {
    display: block;
}
